.container {
    min-width: 300px;
}

.btn {
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #ff9c00;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: 0 !important;
    outline: none;
}

.material-button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: #f17700;
}

