.error-tip {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #b12f2f;
    z-index: 999999999;
    cursor: default;
    font-weight: bold;
}

.error-tip .error-circle {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    border-radius: 100%;
    background-color: #b12f2f;
    color: white;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

background-screen {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 10001;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea.form-changes {
    resize: both;
    width: 100%;
    margin-top: 10px;
}

erp-helper-modal {
    background-color: white;
    padding: 16px;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

erp-helper-modal table {
    border-collapse: collapse;
    margin: 8px 0;
    font-family: 'Proxima Nova Bold', "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    max-width: 50vw;
}

erp-helper-modal thead tr {
    border-bottom: 1px solid black;
}

erp-helper-modal tbody tr {
    border-bottom: 1px solid #c8c8c8;
}

erp-helper-modal td {
    padding: 8px;
    cursor: pointer;
}

erp-helper-modal th {
    padding: 4px;
    cursor: default;
    text-align: center;
    font-weight: 500;
}

erp-helper-modal tr.disabled {
    background-color: rgb(171, 171, 171);
    color: lightgrey;
}

erp-helper-modal tbody tr:hover {
    background-color: lightgrey;
    color: black;
}

erp-helper-modal .exportButton {
    width: 100%;
    border: 0;
    background-color: #242527;
    color: white;
    cursor: pointer;
    padding: 8px;
    font-size: 100%;
}

erp-helper-modal li > ol {
    padding-top: 6px;
}